.bigBox{
    display: flex 1 1 0;
    /*text-align: center;
    justify-content: center;*/
    flex-direction: column;
    height: 800px;
    width: 500px;
    margin: auto;
    border: 5px solid #3882f6;
    border-radius: 5px;
}

.displayBox{
    height: 150px;
}

.buttonBox{
    display:flex;
    flex-wrap: wrap;
    height: 650px;
}

.digitBox{
    height: 80%;
    width: 75%;
}

.operatorBox{
    display: flex;
    flex-direction: column;
    height:80%;
    width:25%;
}

.delBox{
    height: 20%;
    width: 100%;
}